.bg-theme-2 {
   background: #369FF4 !important;
}
.text-theme-2 {
   color: #369FF4 !important;
}
.btn-inline:hover {
   color: #369FF4;
}
.btn-inline:hover:after {
   color: #369FF4;
}
.gsc-call-to-action.button-right-2 {
   background: #369FF4;
}
.gsc-box-hover .backend .link-action a:hover {
   color: #369FF4;
}
.gsc-box-hover .backend .link-action a:hover:after {
   color: #369FF4;
}
.gsc-service-box .action a {
   color: #369FF4;
}
.event-block .event-image .date {
   background: #369FF4;
}
.give-block .form-content .campaign-information .campaign-goal {
   color: #369FF4;
}
.give-block-2 .campaign-information .campaign-goal {
   color: #369FF4;
}
.give-block-3 .campaign-information .campaign-goal {
   color: #369FF4;
}
.gives-form-carousel-2 .tab-carousel-nav .link-service:after {
   background: #369FF4;
}
.gives-form-carousel-3 .tab-carousel-nav .link-service:after {
   background: #369FF4;
}
.content-single-give-form .give-goal-progress .raised .goal-text {
   color: #369FF4;
}
.single-product .product-single-inner .cart .button:hover, .single-product .product-single-inner .add-cart .button:hover {
   background: #369FF4;
}
.single-product .product-single-inner .yith-wcwl-add-to-wishlist a {
   background: #369FF4;
}
.single-product .product-single-inner a.compare {
   background: #369FF4;
}
.single-product .product-single-inner form.cart .add-cart button:hover {
   background: #369FF4;
}
.gva-countdown .countdown-times > div.day {
   color: #369FF4;
}