 a:hover, a:focus {
   color: #FCC91B;
}
.btn-link:hover, .btn-link:focus {
   color: #FCC91B;
}
.pagination > li > a:hover, .pagination > li > a:focus,
 .pagination > li > span:hover,
 .pagination > li > span:focus {
   color: #FCC91B;
}
.page-links > a, .page-links > span:not(.page-links-title) {
   background: #FCC91B;
}
 ul.feature-list > li:after {
   color: #FCC91B;
}
.pager .paginations a.active, .pager .paginations a:hover, .pager .paginations a:focus {
   background: #FCC91B;
   border-color: #FCC91B; 
}
.bg-theme {
   background: #FCC91B !important;
}
.text-theme {
   color: #FCC91B !important;
}
.btn-theme, button, .btn, .btn-white {
   background: #FCC91B;
}
.btn-inline {
   color: #FCC91B;
}
.btn-inline:after {
   color: #FCC91B;
}
 input[type*="submit"]:not(.fa) {
   background: #FCC91B;
}
.socials a i {
   background: #FCC91B;
}
.socials-2 a i:hover {
   background: #FCC91B;
}
 #wp-footer a:hover {
   color: #FCC91B !important;
}
 #wp-footer .widget .widget-title, #wp-footer .widget .widgettitle, #wp-footer .widget .wpb_singleimage_heading, #wp-footer .wpb_single_image .widget-title, #wp-footer .wpb_single_image .widgettitle, #wp-footer .wpb_single_image .wpb_singleimage_heading, #wp-footer .wpb_content_element .widget-title, #wp-footer .wpb_content_element .widgettitle, #wp-footer .wpb_content_element .wpb_singleimage_heading {
   color: #FCC91B;
}
 #wp-footer .widget .widget-title:before, #wp-footer .widget .widget-title:after, #wp-footer .widget .widgettitle:before, #wp-footer .widget .widgettitle:after, #wp-footer .widget .wpb_singleimage_heading:before, #wp-footer .widget .wpb_singleimage_heading:after, #wp-footer .wpb_single_image .widget-title:before, #wp-footer .wpb_single_image .widget-title:after, #wp-footer .wpb_single_image .widgettitle:before, #wp-footer .wpb_single_image .widgettitle:after, #wp-footer .wpb_single_image .wpb_singleimage_heading:before, #wp-footer .wpb_single_image .wpb_singleimage_heading:after, #wp-footer .wpb_content_element .widget-title:before, #wp-footer .wpb_content_element .widget-title:after, #wp-footer .wpb_content_element .widgettitle:before, #wp-footer .wpb_content_element .widgettitle:after, #wp-footer .wpb_content_element .wpb_singleimage_heading:before, #wp-footer .wpb_content_element .wpb_singleimage_heading:after {
   background: #FCC91B;
}
  .topbar {
   background: #FCC91B;
}
.topbar a:hover {
   color: #FCC91B;
}
.topbar .socials > li a:hover {
   color: #FCC91B;
}
.gva-search .control-search {
   background: #FCC91B;
}
 header.header-default .cart-v2 a.mini-cart .mini-cart-items {
   background: #FCC91B;
}
.header-mobile .mini-cart-header a.mini-cart .mini-cart-items {
   background: #FCC91B;
}
.header-v1 .header-bottom {
   background: #FCC91B;
}
.header-v1 .header-bottom .header-bottom-inner .quick-button a:hover {
   color: #FCC91B;
}
.header-v2 .header-bottom .header-bottom-inner .quick-button a {
   background: #FCC91B;
}
.header-v4 .header-bottom .header-bottom-inner .quick-button a {
   background: #FCC91B;
}
 ul.navbar-nav.gva-nav-menu > li .submenu-inner li a:hover, ul.navbar-nav.gva-nav-menu > li .submenu-inner li a:focus, ul.navbar-nav.gva-nav-menu > li .submenu-inner li a:active, ul.navbar-nav.gva-nav-menu > li ul.submenu-inner li a:hover, ul.navbar-nav.gva-nav-menu > li ul.submenu-inner li a:focus, ul.navbar-nav.gva-nav-menu > li ul.submenu-inner li a:active, ul.gva-my-account-menu > li .submenu-inner li a:hover, ul.gva-my-account-menu > li .submenu-inner li a:focus, ul.gva-my-account-menu > li .submenu-inner li a:active, ul.gva-my-account-menu > li ul.submenu-inner li a:hover, ul.gva-my-account-menu > li ul.submenu-inner li a:focus, ul.gva-my-account-menu > li ul.submenu-inner li a:active {
   color: #FCC91B;
}
.gavias-off-canvas-toggle {
   background: #FCC91B;
}
 #gavias-off-canvas .off-canvas-top .top-social > a:hover {
   background: #FCC91B;
   border-color: #FCC91B;
}
 #gavias-off-canvas .off-canvas-top .gavias-off-canvas-close:hover {
   background: #FCC91B;
}
 #gavias-off-canvas ul#menu-main-menu > li > a.active > a {
   color: #FCC91B;
}
 #gavias-off-canvas ul#menu-main-menu > li .submenu-inner.dropdown-menu li a:hover, #gavias-off-canvas ul#menu-main-menu > li .submenu-inner.dropdown-menu li a:focus {
   color: #FCC91B;
}
 #gavias-off-canvas ul#menu-main-menu > li .submenu-inner.dropdown-menu li.active > a {
   color: #FCC91B;
}
.gva-offcanvas-content a:hover {
   color: #FCC91B;
}
.gva-offcanvas-content .close-canvas a:hover {
   color: #FCC91B;
}
.gva-offcanvas-content #gva-mobile-menu ul.gva-mobile-menu > li a:hover {
   color: #FCC91B;
}
.gva-offcanvas-content #gva-mobile-menu ul.gva-mobile-menu > li.menu-item-has-children .caret:hover {
   color: #FCC91B;
}
.megamenu-main .widget.widget-html ul li strong {
   color: #FCC91B;
}
.gva-vertical-menu.widget > .widget-title {
   background-color: #FCC91B;
}
 
 .row-gradient-darkblue {
   background-image: -webkit-radial-gradient(50% -50% farthest-corner, #07335f 0%, #FCC91B 70%, #FCC91B 100%);
   background-image: radial-gradient(farthest-corner at 50% -50%, #07335f 0%, #fcc91b 70%, #fcc91b 100%);
   background-color: #FCC91B;
}
.column-style-4 .vc_column-inner {
   background: #FCC91B;
}
.vc_progress_bar.gva-process .vc_general .vc_bar {
   background: #FCC91B;
}
.vc_general.vc_tta-tabs.vc_tta-tabs-position-left .vc_tta-tabs-container .vc_tta-tabs-list > li.vc_active:after {
   background: #FCC91B;
}
.vc_general.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-list > li.vc_active a {
   color: #FCC91B;
}
.vc_general.vc_tta-tabs.vc_tta-tabs-position-top .vc_tta-tabs-list > li.vc_active a .vc_tta-icon {
   border-color: #FCC91B;
}
.vc_tta.vc_tta-accordion .vc_tta-panels .vc_tta-panel.vc_active .vc_tta-panel-heading a {
   color: #FCC91B;
}
.vc_toggle .vc_toggle_title:hover h4 {
   color: #FCC91B;
}
.vc_toggle .vc_toggle_title .vc_toggle_icon {
   color: #FCC91B;
}
.vc_toggle.vc_toggle_active .vc_toggle_title h4 {
   color: #FCC91B;
}
.gva-productscategory-navigation .widget-title {
   background: #FCC91B;
}
 
 .gva-products-list .widget-title {
   background: #FCC91B;
}
.gva-social-links.style-v2 ul.socials > li > a:hover {
   color: #FCC91B;
}
.gsc-icon-box .highlight-icon .icon-container {
   color: #FCC91B;
}
.gsc-icon-box.icon-background .highlight-icon .icon-container.bg-theme:after {
   background: #FCC91B;
}
.gsc-icon-box.icon-background.icon-border .highlight-icon .icon-container.bg-theme {
   border-color: #FCC91B;
}
.gsc-icon-box.icon-border:not(.icon-background) .highlight-icon .icon-container {
   color: #FCC91B;
}
.gsc-icon-box.top-center.v2 {
   border: 1px solid #FCC91B;
}
.gsc-icon-box.top-center.v2:after, .gsc-icon-box.top-center.v2:before {
   background: #FCC91B;
}
.gsc-icon-box.text-light .title a:hover {
   color: #FCC91B;
}
.gsc-team .team-position {
   color: #FCC91B;
}
.gsc-team.team-horizontal .team-header .social-list a:hover {
   color: #FCC91B !important;
}
.gsc-team.team-horizontal .team-name:after {
   background: #FCC91B;
}
.gsc-team.team-vertical .team-body .info {
   background: #FCC91B;
}
.gsc-heading .title strong {
   color: #FCC91B !important;
}
.gsc-heading .sub-title {
   color: #FCC91B;
}
.gsc-heading.align-left .heading-top:after {
   background: #FCC91B;
}
.gsc-heading.align-left-2 .heading-top:after {
   background: #FCC91B;
}
.gsc-heading.style-3 {
   background: #FCC91B;
}
.gsc-heading.style-3:after {
   border-top-color: #FCC91B;
}
.post-small .post .cat-links a {
   color: #FCC91B;
}
.store-wrapper .hidden-caption:hover {
   color: #FCC91B;
}
.milestone-block.position-icon-top .milestone-icon {
   color: #FCC91B;
}
.milestone-block.position-icon-top .milestone-icon span {
   color: #FCC91B;
}
.milestone-block.position-icon-top-2 .milestone-icon {
   color: #FCC91B;
}
.milestone-block.position-icon-top-2 .milestone-icon span {
   color: #FCC91B;
}
.milestone-block.position-icon-left .milestone-icon span {
   color: #FCC91B;
}
.gsc-image-content.style-3 .image:hover:after {
   background: #FCC91B;
}
.pricing-table .content-wrap .plan-price .price-value .dollar {
   color: #FCC91B;
}
.pricing-table .content-wrap .plan-price .price-value .value {
   color: #FCC91B;
}
.pricing-table .plan-list ul li:after {
   color: #FCC91B;
}
.pricing-table.highlight-plan .featured-label {
   background: #FCC91B;
}
.box-card.box-card-left .highlight-icon .icon {
   color: #FCC91B;
}
.box-card.box-card-right .highlight-icon .icon {
   color: #FCC91B;
}
.gsc-call-to-action.button-bottom .title strong {
   color: #FCC91B;
}
.gsc-call-to-action.button-bottom .title:after {
   background: #FCC91B;
}
.gsc-call-to-action.button-center .title:after {
   background: #FCC91B;
}
.gsc-call-to-action .video-body .gsc-video-link .icon-play {
   color: #FCC91B;
}
.gsc-box-hover .backend {
   background: #FCC91B;
}
.gsc-video-box .video-inner .gsc-video-link .icon-play {
   color: #FCC91B;
}
.gsc-our-partners .content-inner .info .category {
   color: #FCC91B;
}
.gsc-quotes-rotator .cbp-qtprogress {
   background: #FCC91B;
}
.gsc-map .phone {
   color: #FCC91B;
}
.gsc-tabs-content .carousel-nav .tab-carousel-nav .slick-slide .item a {
   color: #FCC91B;
}
.gsc-tabs-content .carousel-nav .tab-carousel-nav .slick-slide.slick-active.slick-center .item {
   background: #FCC91B;
}
.gsc-tabs-content.text-light .carousel-nav .tab-carousel-nav .slick-slide.slick-active.slick-center .item a {
   color: #FCC91B;
}
.gsc-service-box .icon-inner .icon {
   background: #FCC91B;
}
.gsc-service-box .content-inner ul li:after {
   color: #FCC91B;
}
.gsc-service-box .action a:hover {
   color: #FCC91B;
}
.gsc-job-box .content-inner .job-type {
   color: #FCC91B;
}
.gsc-job-box .content-inner .information ul li i {
   color: #FCC91B;
}
 
 .gsc-box-color {
   background: #FCC91B;
}
.widget .widget-title:after, .widget .widgettitle:after, .widget .wpb_singleimage_heading:after, .wpb_single_image .widget-title:after, .wpb_single_image .widgettitle:after, .wpb_single_image .wpb_singleimage_heading:after, .wpb_content_element .widget-title:after, .wpb_content_element .widgettitle:after, .wpb_content_element .wpb_singleimage_heading:after {
   background: #FCC91B;
}
 
 .color-theme .widget-title, .color-theme .widgettitle {
   color: #FCC91B !important;
}
.wp-sidebar ul li a:hover {
   color: #FCC91B;
}
 #wp-footer .widget ul li a:hover, #wp-footer .wpb_single_image ul li a:hover {
   color: #FCC91B;
}
.widget_tag_cloud .tagcloud > a:hover {
   background: #FCC91B;
}
.newsletter-form input.newsletter-submit {
   background: #FCC91B;
}
.newsletter-form input.newsletter-submit:hover {
   color: #FCC91B;
}
.widget_rss > ul li .rss-date {
   color: #FCC91B;
}
.opening-time .phone {
   color: #FCC91B;
}
.info-shop .item a:hover {
   color: #FCC91B;
}
.post .entry-meta .line {
   background: #FCC91B;
}
.post .tag-links a:hover {
   background: #FCC91B;
}
.single.single-post #wp-content > article.post .content-top.entry-meta .line {
   background: #FCC91B;
}
.single.single-post #wp-content > article.post .post-content input[type="submit"] {
   background: #FCC91B;
}
.post-navigation a:hover {
   background: #FCC91B;
}
.event-block-list .event-image .event-date .date {
   color: #FCC91B;
}
.event-block-list .event-line {
   background: #FCC91B;
}
.event-block-list-small .event-date {
   background: #FCC91B;
}
.event-block-list-small .event-address i {
   color: #FCC91B;
}
.event-single .content-top.entry-meta .line {
   background: #FCC91B;
}
.event-single .event-thumbnail .social-networks a:hover, .event-single .event-thumbnail .social-networks a:focus {
   color: #FCC91B;
}
.event-single .meta-block .block-title:after {
   background: #FCC91B;
}
.event-single .meta-block.speakers .speaker-item .job {
   color: #FCC91B;
}
.portfolio-v1 .images .link:hover {
   background: #FCC91B;
}
.portfolio-v1 .content-inner .category a {
   color: #FCC91B;
}
.portfolio-item-v2 .images .category {
   background: #FCC91B;
}
.portfolio-filter ul.nav-tabs > li > a.active {
   color: #FCC91B;
}
.single-portfolio .portfolio-content .portfolio-information {
   background: #FCC91B;
}
.give-block .form-image .content-action .link:hover {
   background: #FCC91B;
   border-color: #FCC91B;
}
.give-block .form-image .give-gallery-post a:hover {
   color: #FCC91B;
}
.give-block .form-image .give-video a:hover {
   color: #FCC91B;
}
.give-block .progress .progress-bar {
   background: #FCC91B;
}
.give-block .form-content .campaign-information .funded .pie-label {
   color: #FCC91B;
}
.give-block-2 .give-image .give-gallery-post a:hover {
   color: #FCC91B;
}
.give-block-2 .give-image .give-video a:hover {
   color: #FCC91B;
}
.give-block-2 .give-content .action-content a:hover {
   background: #FCC91B;
}
.give-block-3 .give-image .give-gallery-post a:hover {
   color: #FCC91B;
}
.give-block-3 .give-image .give-video a:hover {
   color: #FCC91B;
}
.gives-form-carousel-2 .tab-carousel-nav .link-service i {
   color: #FCC91B;
}
.gives-form-carousel-2 .tab-carousel-nav .link-service .cat-links a {
   color: #FCC91B;
}
.gives-form-carousel-2 .tab-carousel-nav .link-service:hover {
   background: #FCC91B;
}
.gives-form-carousel-2 .tab-carousel-nav .slick-center .link-service {
   background: #FCC91B;
}
.gives-form-carousel-3 .tab-carousel-nav .link-service i {
   color: #FCC91B;
}
.gives-form-carousel-3 .tab-carousel-nav .link-service .cat-links a {
   color: #FCC91B;
}
.gives-form-carousel-3 .tab-carousel-nav .link-service:hover {
   background: #FCC91B;
}
.gives-form-carousel-3 .tab-carousel-nav .slick-center .link-service {
   background: #FCC91B;
}
.content-single-give-form .single-give-images .give-gallery-post a {
   color: #FCC91B;
}
.content-single-give-form .single-give-images .give-gallery-post a:hover {
   background: #FCC91B;
}
.content-single-give-form .single-give-images .give-video a {
   color: #FCC91B;
}
.content-single-give-form .single-give-images .give-video a:hover {
   background: #FCC91B;
}
.content-single-give-form .give-goal-progress .raised .income {
   color: #FCC91B;
}
.content-single-give-form .give-goal-progress .give-progress-bar span {
   background: #FCC91B !important;
}
.content-single-give-form form[id*=give-form].give-form .give-total-wrap .give-donation-amount .give-currency-symbol {
   background: #FCC91B;
}
.content-single-give-form form[id*=give-form].give-form .give-donation-levels-wrap li button.give-default-level, .content-single-give-form form[id*=give-form].give-form .give-donation-levels-wrap li button:hover {
   background: #FCC91B;
}
.content-single-give-form form[id*=give-form].give-form .give-btn-reveal {
   background: #FCC91B;
}
.testimonail-slick-carousel .slick-slide .testimonial-node-center .testimonial-content .quote:after {
   color: #FCC91B;
}
.testimonail-slick-carousel .slick-slide .testimonial-node-center .testimonial-content .info .right .title {
   color: #FCC91B;
}
.testimonail-slick-carousel .slick-slide .testimonial-node-center .testimonial-video {
   background: #FCC91B;
}
.testimonail-slick-carousel .slick-dots > li.slick-active button {
   background: #FCC91B;
}
.testimonial-node-1 .testimonial-content .quote:after {
   color: #FCC91B;
}
.testimonial-node-1 .testimonial-content .info .right .title {
   color: #FCC91B;
}
.testimonial-node-2 .testimonial-content .quote:after {
   color: #FCC91B;
}
.testimonial-node-2 .testimonial-content .info .right .title {
   color: #FCC91B;
}
.testimonial-node-2 .testimonial-video {
   background: #FCC91B;
}
.testimonial-grid .item-grid .testimonials-profile:after {
   background: #FCC91B;
}
.testimonial-grid .item-grid .testimonials-profile .right .job {
   color: #FCC91B;
}
.team-block.team-v1 .team-image .socials-team {
   background: #FCC91B;
}
.team-block.team-v1 .team-body:after {
   background: #FCC91B;
}
.team-block.team-v1 .team-skills .vc_single_bar .vc_bar {
   background: #FCC91B !important;
}
.team-block.team-v2 .team-content .socials-team a:hover {
   color: #FCC91B;
}
.team-block.team-v2 .team-skills .vc_single_bar .vc_bar {
   background: #FCC91B !important;
}
.team-block-single .heading:after {
   background: #FCC91B;
}
.team-block-single .team-skills .vc_bar {
   background: #FCC91B !important;
}
.single-blog .post-desc-wrapper .meta > div a {
   color: #FCC91B;
}
 
 .pagination .disabled {
   background: #FCC91B;
}
.pagination .current {
   background: #FCC91B;
}
.wpcf7-form .action .wpcf7-submit {
   background: #FCC91B;
}
.content-page-index .post-items article.post.sticky:after {
   color: #FCC91B;
}
 #comments #add_review_button,
 #comments #submit {
   background: #FCC91B;
}
 #comments ol.comment-list .vcard .fn a:hover {
   color: #FCC91B;
}
 #comments ol.comment-list .comment-reply-link {
   color: #FCC91B;
}
.custom-breadcrumb a:hover {
   color: #FCC91B;
}
.title-layout-standard .custom-breadcrumb .breadcrumb-main .container .breadcrumb a:hover {
   color: #FCC91B !important;
}
.owl-carousel .owl-nav > div:hover, .owl-carousel .owl-nav > div:focus, .flex-control-nav .owl-nav > div:hover, .flex-control-nav .owl-nav > div:focus {
   background: #FCC91B;
}
.owl-carousel .owl-dots .owl-dot.active, .flex-control-nav .owl-dots .owl-dot.active {
   background: #FCC91B;
}
.uk-slideset-init .uk-slideset-nav li a {
   border: 2px solid #FCC91B;
}
.uk-slideset-init .uk-slideset-nav li.uk-active a {
   background: #FCC91B;
}
 ul.nav-tabs > li > a:hover, ul.nav-tabs > li > a:focus, ul.nav-tabs > li > a:active {
   color: #FCC91B;
}
 ul.nav-tabs > li.active > a {
   background: #FCC91B !important;
}
 
 .btn-slider-white {
   color: #FCC91B;
}
.btn-slider-white:hover, .btn-slider-white:focus, .btn-slider-white:active {
   background: #FCC91B;
}

 .woocommerce-tabs .nav-tabs > li.active > a {
   color: #FCC91B;
}
.woocommerce-tab-product-info .submit {
   background: #FCC91B;
}
.minibasket.light i {
   color: #FCC91B;
}
 table.variations a.reset_variations {
   color: #FCC91B !important;
}
.single-product .social-networks > li a:hover {
   color: #FCC91B;
}
.single-product .image_frame .woocommerce-product-gallery__trigger:hover {
   background: #FCC91B;
}
.single-product .image_frame .onsale {
   background: #FCC91B;
}
.single-product .image_frame .flex-control-nav .owl-item img.flex-active {
   border: 1px solid #FCC91B;
}
.single-product .product-single-main.product-type-grouped table.group_table tr td.label a:hover {
   color: #FCC91B;
}
.single-product .entry-summary .woocommerce-product-rating .woocommerce-review-link:hover {
   color: #FCC91B;
}
.single-product .entry-summary .price {
   color: #FCC91B;
}
.single-product .product-single-inner .cart .button, .single-product .product-single-inner .add-cart .button {
   background: #FCC91B;
}
.single-product .product-single-inner .yith-wcwl-add-to-wishlist a:hover {
   background: #FCC91B;
}
.single-product .product-single-inner a.compare:hover {
   background: #FCC91B;
}
.single-product .product-single-inner form.cart .table-product-group td.label a:hover {
   color: #FCC91B;
}
.single-product .product-single-inner form.cart .add-cart button {
   background: #FCC91B;
}
.single-product .product_meta > span a:hover {
   color: #FCC91B;
}
.woocommerce-info a {
   color: #FCC91B;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul > li.is-active a {
   color: #FCC91B;
}
.woocommerce #breadcrumb a:hover {
   color: #FCC91B;
}
.woocommerce-page .content-page-inner input.button, .woocommerce-page .content-page-inner a.button {
   background: #FCC91B;
}
.woocommerce-cart-form__contents .woocommerce-cart-form__cart-item td.product-remove a.remove {
   background: #FCC91B;
}
.shop-loop-title a:hover {
   color: #FCC91B;
}
.shop-loop-actions .quickview a:hover, .shop-loop-actions .yith-wcwl-add-to-wishlist a:hover, .shop-loop-actions .yith-compare a:hover, .shop-loop-actions .add-to-cart a:hover {
   color: #FCC91B;
}
.shop-loop-actions .quickview a:hover:after, .shop-loop-actions .yith-wcwl-add-to-wishlist a:hover:after, .shop-loop-actions .yith-compare a:hover:after, .shop-loop-actions .add-to-cart a:hover:after {
   color: #FCC91B;
}
.product_list_widget .minicart-close:hover {
   color: #FCC91B;
}
.product_list_widget.cart_list .widget-product .remove {
   background: #FCC91B;
}
.woo-display-mode > a:hover, .woo-display-mode > a:active, .woo-display-mode > a:focus, .woo-display-mode > a.active {
   background: #FCC91B;
}
.filter-sidebar .filter-sidebar-inner.layout-offcavas .filter-close {
   background: #FCC91B;
}
.widget.widget_layered_nav ul > li a:hover {
   color: #FCC91B;
}
.widget.widget_product_categories li.current-cat > a {
   color: #FCC91B !important;
}
.widget.widget_product_categories ul.product-categories > li.has-sub .cat-caret:hover {
   cursor: pointer;
   color: #FCC91B;
}
.widget.widget_product_categories ul.product-categories > li ul a:hover {
   color: #FCC91B;
}